<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="js/jquery.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/vue-router.js"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<meta charset="UTF-8">
		<title>借书卡管理系统</title>
	</head>
	<body>
		<div id="vue">
			<template>
				<el-table :data="bookCards" style="width: 100%">
					<el-table-column prop="cid" label="卡号" width="180">
					</el-table-column>
					<el-table-column prop="name" label="姓名" width="180">
					</el-table-column>
					<el-table-column prop="sex" label="性别" width="180">
					</el-table-column>
					<el-table-column prop="ccreateDate" label="办卡日期" width="180">
						<template slot-scope="scope">
							{{scope.row.createDate.date.year}}-{{scope.row.createDate.date.month}}-{{scope.row.createDate.date.day}}
						</template>
					</el-table-column>
					<el-table-column prop="deposit" label="押金" width="180">
					</el-table-column>
				</el-table>
			</template>

			<el-button type="text" @click="addbookCardFormVisible()">新增借书卡</el-button>

			<el-dialog title="借书卡信息登记" :visible.sync="addDialogFormVisible">
				<el-form ref="form" :model="bookCard" label-width="80px">
					<el-form-item label="name" disabled="true">
						<el-input v-model="bookCard.name"></el-input>
					</el-form-item>
					<el-form-item label="sex">
						<template>
							<el-radio v-model="bookCard.sex" label="男">男</el-radio>
							<el-radio v-model="bookCard.sex" label="女">女</el-radio>
						</template>
					</el-form-item>
					<el-form-item label="createDate">
						<el-date-picker v-model="bookCard.createDate" type="date" placeholder="选择日期"
							value-format="yyyy-MM-dd'T'HH:mm">
						</el-date-picker>
					</el-form-item>
					<el-form-item label="deposit">
						<template>
							<el-select v-model="bookCard.deposit" placeholder="请选择">
								<el-option v-for="item in deposits" :key="item.value" :label="item.label"
									:value="item.value">
								</el-option>
							</el-select>
						</template>
					</el-form-item>
				</el-form>
				<el-button @click="unadd()">取 消</el-button>
				<el-button type="primary" @click="addbookCard()">确 定</el-button>
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript">
		// 查询事件
		const selectCity = vueRouter => {
			$.ajax({
				url: "/getAllCards",
				dataType: "JSON",
				success(result) {
					vueRouter.bookCards = result.data
				}
			})
		}
		const vue = new Vue({
			el: "#vue",
			data: {
				bookCards: [],
				addDialogFormVisible: false,
				bookCard: {
					cid: "",
					name: "",
					sex: "",
					createDate: "",
					deposit: ""
				},
				deposits: [{
					value: '100',
					label: '100'
				}, {
					value: '300',
					label: '300'
				}, {
					value: '500',
					label: '500'
				}]
			},
			methods: {
				// 查询
				select() {
					selectCity(this);
				},
				// 添加
				addbookCardFormVisible() {
					vue.bookCard.sex = "男";
					this.addDialogFormVisible = true;
				},
				unadd() {
					vue.addDialogFormVisible = false;
				},
				addbookCard() {
					$.ajax({
						url: "/addBookCard",
						data: {
							name: vue.bookCard.name,
							sex: vue.bookCard.sex,
							createDate: vue.bookCard.createDate,
							deposit: vue.bookCard.deposit
						},
						success(result) {
							selectCity(vue);
							vue.addDialogFormVisible = false;
						}
					})
				}
			},
			// vue加载事件
			mounted() {
				selectCity(this)
			}
		})
	</script>
</html>